.header-container{
    height: 60px;
    background-color: var(--primary-red);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}

.header-title{
    font-family: 'Judson', serif;
    font-weight: 700;
    color: white;
    font-size: 48px;
    text-decoration: none;
}

.submit-recipe, .create-account, .view-favorites{
    border: none;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    padding: 10px;
    font-size: 18px;
    color: white;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
}

.submit-recipe{
    margin-right: 20px;
    background-color: var(--orange);
}

.create-account{
    background-color: var(--primary-yellow);
}

.view-favorites{
    background-color: var(--secondary-yellow);
    margin-right: 20px;
}

.user-info{
    display: flex;
}

.user-info h2{
    color: white;
    margin-right: 20px;
    display: flex;
    align-items: center;
    font-family: 'Judson', serif;
    font-weight: 400;
}